    .animacion{
        
        padding-left: 40px;
       animation-name: efecto;
       animation-iteration-count: infinite;
       animation-duration: 8s;
       animation-delay: 3s; 
       
   
   
   @keyframes efecto {
   
       0%{
        transform: translate(-50%);
       }
       25%{
        
   
       }
       50%{
           transform: translate(50%);
              
   
       }
       75%{
           
       }
       100%{
        transform: translate(-50%);

       }
       
       
   }






}

